.footer
    .footer__w3c
            a(href="https://jigsaw.w3.org/css-validator/check/referer")
                img(style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Правильный CSS!")
    
    ul.footer__list
        li.footer__social-item
            a.footer__social-link(href="https://www.facebook.com/people/%D0%AD%D0%B4%D1%83%D0%B0%D1%80%D0%B4-%D0%96%D1%83%D0%BB%D0%B5%D0%B3%D0%B0/100014277036674")
                i.footer__social-icon.icon.icon-facebook
        li.footer__social-item
            a.footer__social-link(href="https://vk.com/id266257246")
                i.footer__social-icon.icon.icon-vkontakte
        li.footer__social-item
            a.footer__social-link(href="https://plus.google.com/u/0/102885539602799135471")
                i.footer__social-icon.icon.icon-gplus
    
    a.footer__contacts-tel(href="tel:+89520566078") <span class="footer__contacts-tel-stress">Телефон:</span> +8 (952)-056-60-78

    button.footer__up
        i.footer__contacts-icon.icon.icon-up-thin