header.header
    .header__top#home
        nav.main-nav
            ul.main-nav__menu
                li.main-nav__menu-item
                    a.main-nav__menu-link(href="#home") главная
                li.main-nav__menu-item
                    a.main-nav__menu-link(href="#about") обо мне
                li.main-nav__menu-item
                    a.main-nav__menu-link(href="#service") техники
                li.main-nav__menu-item
                    a.main-nav__menu-link(href="#portfolio") портфолио
                li.main-nav__menu-item
                    a.main-nav__menu-link(href="#contacts") контакты

            .main-nav__mobile-icon#show-menu
                span.main-nav__mobile-icon-line.main-nav__mobile-icon-line--top
                span.main-nav__mobile-icon-line.main-nav__mobile-icon-line--middle
                span.main-nav__mobile-icon-line.main-nav__mobile-icon-line--bottom
        
    .header__bottom
        h1.header__bottom-title Эдуард Жулега
        p.header__bottom-subtitle Junior Web developer
        button.button.header__bottom-hire#hire связяться со мной