header.header
    .header__top#home
        nav.main-nav
            ul.menu
                li.menu__item
                    a.menu__link(href="#home") главная
                li.menu__item
                    a.menu__link(href="#about") обо мне
                li.menu__item
                    a.menu__link(href="#service") техники
                li.menu__item
                    a.menu__link(href="#portfolio") портфолио
                li.menu__item
                    a.menu__link(href="#contacts") контакты
            
            .main-nav__mobile-icon
                .mobile-icon
                    span.mobile-icon-line.mobile-icon-line--top
                    span.mobile-icon-line.mobile-icon-line--middle
                    span.mobile-icon-line.mobile-icon-line--bottom
        
    .header__bottom
        h1.header__bottom-title Эдуард Жулега
        p.header__bottom-subtitle Junior Web developer
        button.button.header__bottom-hire#hire связяться со мной