header.header
    .header__top#home
        nav.main-nav
            ul.menu
                li.menu__item
                    a.menu__link(href="#home") главная
                li.menu__item
                    a.menu__link(href="#about") обо мне
                li.menu__item
                    a.menu__link(href="#service") техники
                li.menu__item
                    a.menu__link(href="#examples") проекты
            
            .main-nav__mobile-icon
                .mobile-icon
                    span.mobile-icon-line.mobile-icon-line--top
                    span.mobile-icon-line.mobile-icon-line--middle
                    span.mobile-icon-line.mobile-icon-line--bottom
        
    .header__bottom
        h1.header__bottom-title Эдуард Жулега
        p.header__bottom-subtitle Junior Web developer
        a.header__bottom-hire(href="tel:+89520566078") +8 (952)-056-60-78