<!doctype html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        title(Портфолио: Жулега Эдуард)
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-con")
        link(rel="preload" href="graphic_fonts/fontello/css/fontello.css" as="style" onload="this.rel='stylesheet'")
        noscript
            link(rel="stylesheet" href="graphic_fonts/fontello/css/fontello.css")
        link(rel="preload" href="styles/main.css" as="style" onload="this.rel='stylesheet'")
        noscript
            link(rel="stylesheet" href="styles/main.css")
    body

        include ../pug-modules/header.pug

        main.main

        include ../pug-modules/footer.pug

        script(src="main.js")