<!doctype html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Портфолио: Жулега Эдуард
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-con")
        link(rel="preload" href="styles.css" as="style" onload="this.rel='stylesheet'")
        noscript
            link(rel="stylesheet" href="styles.css")
    body

        include ../pug-modules/header.pug

        main.main
            article.about#about
                header.about__header
                    h2.about__title Обо мне
                
                .about__description
                    p.about__description-text Доброго времени суток! Меня зовут <span class="about__description-stress">Эдуард</span>. 
                    p.about__description-text Я начинающий веб-разработчик. На начальном этапе вплотную занимался версткой сайтов из макетов .psd (чуть болee двух лет). За это время я отлично освоил html & css, нарезку макетов в Photoshop, работу в Adobe Illustrator.
                    p.about__description-text Целеустремленный, ответственный и исполнительный. Обладаю аналитическим складом ума, логическим мышлением. 
                    p.about__description-text В процессе верстки продумываю каждую деталь и подготавливаю удобный, в нужных местах прокомментированный код для удобного его использования другими разработчиками.
                    a.button.about__resume(href="http://rgho.st/8RTnHssNT") Загрузить мое резюме

            article.skills#skills
                header.skills__header
                    h2.skills__title Мои навыки
                .skills__content
                    .skill
                        .skill__content
                            .skill__item
                                h3.skill__title html
                                #skill__html.progressbar
                            
                            .skill__item
                                h3.skill__title css
                                #skill__css.progressbar

                    .skill
                        .skill__content
                            .skill__item
                                h3.skill__title javascript
                                #skill__javascript.progressbar
                            
                            .skill__item
                                h3.skill__title jquery
                                #skill__jquery.progressbar

                    .skill
                        .skill__content
                            .skill__item
                                h3.skill__title photoshop
                                #skill__photoshop.progressbar
                            
                            .skill__item
                                h3.skill__title illustrator
                                #skill__illustrator.progressbar

            article.service#service
                .service__wrap
                    
                    .service__content-header
                        header.service__content-title
                            h2.services__title Используемые техники
                    .service__content
                        .service__item
                            .service__item-image
                                img(src="img/service/monitor.png", alt="html+css")
                            .service__item-content
                                h3.service__item-title html + css3
                                p.service__item-description Современная верстка на базе шаблонизатора Pug2, препроцессора SASS.
                                p.service__item-description Адаптивная, кроссбраузерная верстка макета.

                        .service__item
                            .service__item-image
                                img(src="img/service/coding.png", alt="Система сборки")
                            .service__item-content
                                h3.service__item-title Система сборки
                                p.service__item-description Сборка проекта на основе таск менеджера gulp, системы контроля версий git.

                        .service__item
                            .service__item-image
                                img(src="img/service/binary.png", alt="Код")
                            .service__item-content
                                h3.service__item-title Код
                                p.service__item-description Чистый, комментированный, валидный код с соблюдением стандартов W3C.
                                p.service__item-description Методология BEM Naming
                                p.service__item-description Семантическая разметка кода.
                                p.service__item-description Использование Pixel Perfect (точная верстка по макету).

            article.projects#examples
                .projects__header
                    h2.projects__title Мои проекты
                .projects__content
                    .project
                        .project__image
                            img(src="img/projects/project-1.png", alt="Тестовый проект - 1")
                        a.project__hover-content(href="https://bessistemn1i.github.io/project-01.github.io/") Подробнее
                                
                    .project
                        .project__image
                            img(src="img/projects/project-2.png", alt="Тестовые проект - 2")
                        a.project__hover-content(href="https://bessistemn1i.github.io/project-02-github.io/") Подробнее
                                
                    .project
                        .project__image
                            img(src="img/projects/project-3.png", alt="Тестовые проект - 3")
                        a.project__hover-content(href="https://bessistemn1i.github.io/project-03-github.io/") Подробнее
                                
                    .project
                        .project__image
                            img(src="img/projects/project-4.png", alt="Тестовые проект - 4")
                        a.project__hover-content(href="https://bessistemn1i.github.io/project-04-github.io/") Подробнее
                                
                    .project
                        .project__image
                            img(src="img/projects/project-5.png", alt="Тестовые проект - 5")
                        a.project__hover-content(href="https://bessistemn1i.github.io/project-05-github.io/") Подробнее
                    .project
                        .project__image
                            img(src="img/projects/project-6.png", alt="Тестовые проект - 6")
                        a.project__hover-content(href="https://bessistemn1i.github.io/project-06-github.io/") Подробнее
                                

            .facts#facts
                .facts__bar
                    p.facts__title#experience
                    p.facts__description года опыта верстки сайтов
                .facts__bar
                    p.facts__title#facts__time
                    p.facts__description дней на верстку макета формата .psd
                .facts__bar
                    p.facts__title#facts__responsibility
                    p.facts__description ответственности за результат
                    
        include ../pug-modules/footer.pug

        script(src="main.js")