.footer {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;

    // visual
    background-color: $baseColor;

    @include atTablet {
        // box model
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        padding: 30px 0;
    }
}

.footer__list {
    // positioning
    position: absolute;
    right: 10px;
    top: 40px;

    // box model
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    // visual
    list-style: none;

    @include atTablet {
        // positioning
        position: relative;
        right: auto;
        top: auto;
    }
}

.footer__social-item {
    // box model
    display: inline-block;
    margin: 0 15px;
}

.footer__social-link {
    // box model
    display: block;

    // typography
    font-family: $baseFont;
    color: #ffffff;
    text-decoration: none;
}

.footer__social-icon {
    // box model
    padding: 9.5px 8px;

    // typography
    font-size: 1rem;

    // visual
    border: 1px solid #ffffff;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;

    &--vk{
        &:hover {
            // typography
                color: #FEFDFF;
            
                // visual
            background-color: #5983B7;
            border: 1px solid #5983B7;
        }
    }

    &--gp {
        &:hover {
            // typography
            color: #FEFBFF;
            
            // visual
            background-color: #D9453F;
            border: 1px solid #D9453F;
        }
    }

    &--fb {
        &:hover {
            // typography
            color: #FFFFFF;
            
            // visual
            background-color: #3E5A96;
            border: 1px solid #3E5A96;
        }
    }
}

.footer__contacts-tel {
    // box model
    display: block;
    margin-top: 60px;

    // typography
    font-family: $baseFont;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
        // typography
        color: #D9453F;

        .footer__contacts-tel-stress {
            // typography
            color: #ffffff;
        }
    }

    @include atTablet {
        // box model
        margin-top: 0;
    }
}

.footer__contacts-tel-stress {
    // typography
    font-family: $decoFont;
    font-weight: 700;
    text-transform: uppercase;
    color: #b33000;

    // visual
    transition: color 0.3s ease-in-out;
}

.footer__up {
    // positioning
    position: absolute;
    bottom: 43px;
    right: 20px;

    // typography
    color: #ffffff;

    // visual
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    @include atTablet {
        // positioning
        position: relative;
        bottom: auto;
        right: auto;
    }
}

.footer__contacts-icon {
    // box model
    padding: 9.8px 8px;

    // visual
    border: 1px solid #ffffff;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;

    &:hover, &:active {
        // typography
        color: $baseColor;

        // visual
        background-color: #ffffff;
    }
}