.header {
    // positioning
    position: relative;

    // box model
    width: 100%;
    height: 101vh;
    padding: 0 calc((100% - 1170px)/2);

    // visual
    background: -moz-linear-gradient(90deg, rgba(204,204,204,1) 0%, rgba(250,250,250,0.89) 44%, rgba(255,255,255,0.89) 52%, rgba(255,255,255,0.87) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0.87)), color-stop(48%, rgba(255,255,255,0.89)), color-stop(56%, rgba(250,250,250,0.89)), color-stop(100%, rgba(204,204,204,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(90deg, rgba(204,204,204,1) 0%, rgba(250,250,250,0.89) 44%, rgba(255,255,255,0.89) 52%, rgba(255,255,255,0.87) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(90deg, rgba(204,204,204,1) 0%, rgba(250,250,250,0.89) 44%, rgba(255,255,255,0.89) 52%, rgba(255,255,255,0.87) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(90deg, rgba(204,204,204,1) 0%, rgba(250,250,250,0.89) 44%, rgba(255,255,255,0.89) 52%, rgba(255,255,255,0.87) 100%); /* ie10+ */
background: linear-gradient(0deg, rgba(204,204,204,1) 0%, rgba(250,250,250,0.89) 44%, rgba(255,255,255,0.89) 52%, rgba(255,255,255,0.87) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* ie6-9 */

    @include atUltraHD {
        // box model
        max-height: 700px;
    }
}

.header__top {
    // box model
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

}

.header__bottom {
    // positioning
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    // box model
    display: block;
    width: 100%;
    padding: 0 calc((100% - 1170px)/2);
}

.header__bottom-title {
    // box model
    display: inline-block;
    vertical-align: top;
    margin: 0;

    // typography
    color: $baseColor;
    font-family: $decoFont;
    font-size: 2.5rem;
    line-height: 1;
    text-transform: uppercase;
}

.header__bottom-subtitle {
    // box model
    display: block;
    vertical-align: top;
    margin-top: 5px;
    margin-bottom: 35px;

    // typography
    color: rgba(33,33,33, 0.9);
    font-family: $decoFont;
    font-size: 1.2rem;
    line-height: 1;
    text-transform: capitalize;

}

.header__bottom-hire {
    // box model

    // typography
    font-family: $decoFont;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(33,33,33, 0.9);

    // visual
    background-color: #ffffff;
    box-shadow: 0 14px 24px 0 rgba(0,0,0,0.2);
    border: 1px solid $baseColor;
    transition: all 0.3s ease-in-out;

    &:hover {
        // typography
        color: #ffffff;

        // visual
        background-color: $baseColor;
        box-shadow: 0 10px 18px 0 rgba(0,0,0, 0.15);
        border: 1px solid transparent;
    }
}