.menu {
    // positioning
    position: fixed;
    right: -100%;
    z-index: 99;

    // box model
    height: 100vh;
    width: 100%;
    max-width: 400px;
    padding: 25px;
    padding-top: 48px;

    // typography
    text-align: right;

    // visual
    list-style: none;
    transition: all 0.3s ease-in-out;

    @include atDesktopM {
        // positioning
        position: relative;
        right: auto;
        top: auto;
        
        // box model
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        width: auto;
        height: auto;
        padding: 17px 0;
        margin: 0;
        max-width: 100%;
        padding-top: auto;

        // visual
        background-color: transparent;
        opacity: 1;
        visibility: visible;
    }

    &--active {
        // positioning
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99;

        // box model
        width: 100%;
        height: 100vh;
        margin-right: auto;
        margin-left: auto;
        padding-top: 48px;

        // visual
        opacity: 1;
        visibility: visible;
        background-color: #cccccc;

        @include atDesktopM {
            // positioning
            position: relative;
            
            // box model
            width: auto;
            height: auto;
            max-width: 100%;
        }
    }
}

.menu__item {
    // box model
    margin: 0 10px;
    padding: 15px 0px;

    @include atDesktopM {
        // box model
        display: inline-block;
    }
}

.menu__link {

    // box model
    display: block;

    // typography
    color: #212121;
    font-family: $decoFont;
    font-size: 1rem;
    line-height: 1;
    text-transform: uppercase;

    // visual
    text-decoration: none;
}