.progressbar {
    // box model
    height: 40px;

    // visual
    border-radius: 5px;

    // typography
    font-family: $baseFont;
    font-size: 1.3rem;
    line-height: 40px;
    text-align: center;
    color: #ffffff;

}