.service {
    // box model
    padding-top: 60px;

    // visual
    background-image: url('img/service/top-service-bg.png');
    background-repeat: no-repeat;
    background-position: top center;
}

.service__wrap {
    // box model
    width: 100%;
    max-width: 1230px;
    padding: 30px;
    margin-top: 240px;
    margin-right: auto;
    margin-left: auto;

    // visual
    background-color: #ffffff;
    box-shadow: 0 0 40px 8px rgba(0,0,0,0.15);
}

.services__title {
    // box model
    margin: 0;

    // typography
    color: $baseColor;
    font-family: $decoFont;
    font-size: 2rem;
    line-height: 1;
    text-transform: uppercase;

}

.service__content {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;

    @include atDesktopS {
        // box model
        flex-direction: row;
    }
}

.service__content-header {
    // positioning
    position: relative;

    // typography
    text-align: center;

    &:after {
        content: '';

        // positioning
        position: absolute;
        left: 50%;
        bottom: -70px;
        transform: translate(-50%, 0);

        // box model
        display: block;
        width: 60px;
        height: 100%;

        // visual
        background-image: url('img/divider.png');
        background-repeat: no-repeat;

        @include atTablet {
            // positioning
            bottom: -50px;
        }
    }
}

.service__item {
    // box model
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px 0;

    @include atTablet {
        // box model
        flex-direction: row;
    }

    @include atDesktopS {
        // box model
        max-width: 300px;
        margin: 0;
        flex-direction: column;
    }
}

.service__item-content {
    // box model
    margin-top: 30px;
    
    @include atTablet {
        // box model
        margin-top: 0;
        margin-left: 30px;
    }

    @include atDesktopS {
        // box model
        margin-left: auto;
        margin-top: 30px;
    }
}

.service__item-image {

    img {
        // box model
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

.service__item-title {
    // box model
    margin-top: 0;

    // typography
    color: $baseColor;
    font-family: $decoFont;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;

    @include atTablet {
        // typography
        text-align: left;
    }

    @include atDesktopS {
        // box model
        margin-top: auto;

        // typography
        text-align: center;
    }
}

.service__item-description {
    // typography
    color: $baseColor;
    font-family: $baseFont;
    font-size: 1rem;
    line-height: 1.4;
}

